/* all other styles, style updates, etc */

.bg-main-color {
    background-color: var(--main-color);
    color: var(--main-color-anti);
}
.bg-secondary-color {
    background-color: var(--secondary-color);
    color: var(--secondary-color-anti);
}
.bg-main-color-light {
    background-color: var(--main-color-light);
    color: var(--main-color-light-anti);
}
.bg-third-color {
    background-color: var(--third-color);
    color: var(--third-color-anti);
}

.main-color {
    color: var(--main-color);
}
.secondary-color {
    color: var(--secondary-color);
}



.post {
    display: inline-block;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 8px;
}
    .post > header {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
        .post > header > img {
            display: inline-block;
            float: left;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #CCC;
            font-size: 10px;
        }
        .post > header > .texts {
            display: inline-block;
            float: left;
            padding: 0 20px;
            width: calc(100% - 90px);
        }
        .post > header > .fa {
            display: inline-block;
            float: left;
            width: 40px;
            line-height: 40px;
            text-align: center;
        }
    .post > .content {
        display: inline-block;
        width: 100%;
        padding: 10px;
    }
        .post > .content.red {
            display: flex;
            align-items: center;
            background-color: red;
            color: #FFF;
            height: 240px;
            padding: 0 100px;
            text-align: center;
        }
        .post > .content > p {
            display: inline-block;
            width: 100%;
        }
            .post > .content > p.big-text {
                font-size: 40px;
                line-height: 50px;
            }
            .post > .content > p > .more {
                color: blue;
                text-decoration: underline;
                cursor: pointer;
            }
        .post > .content > .gallery {
            display: inline-block;
            width: calc(100% + 20px);
            height: 240px;
            margin-left: -10px;
            position: relative;
        }
            .post > .content > .gallery > .img {
                display: inline-block;
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        .post > .content > .gallery.gallery-2 {
            height: 360px;
        }
            .post > .content > .gallery.gallery-2 > .img {
                width: 50%;
            }
        .post > .content > .gallery.gallery-3 {
            height: 360px;
            }
            .post > .content > .gallery.gallery-3 > .img {
                width: 50%;
                height: 50%;
            }
            .post > .content > .gallery.gallery-3 > .img:first-child {
                width: 100%;
            }
        .post > .content > .gallery.gallery-4 {
            height: 480px;
            }
            .post > .content > .gallery.gallery-4 > .img {
                width: 50%;
                height: calc(100% / 3);
                float: right;
            }
            .post > .content > .gallery.gallery-4 > .img:first-child {
                height: 100%;
                float: left;
            }
        .post > .content > .gallery > .more {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            height: calc(100% / 3);
            background-color: #0008;
            color: #FFF;
            text-align: center;
            font-size: 80px;
            line-height: 160px;
        }
    .post > .interactions {
        display: inline-block;
        width: calc(100% - 20px);
        margin: 10px 10px 0 10px;
        border-top: 1px solid #CCC;
        text-align: center;
    }
        .post > .interactions > .action {
            display: inline-block;
            float: left;
            width: 50%;
        }
            .post > .interactions > .action > * {
                line-height: 50px;
                font-size: 16px;
            }
            .post > .interactions > .action > span {
                margin-left: 10px;
            }
    .post > .comment-form {
        display: inline-block;
        width: calc(100% - 20px);
        margin: 0 10px 10px 10px;
        padding-top: 10px;
        border-top: 1px solid #CCC;
    }
        .post > .comment-form > img {
            display: inline-block;
            width: 40px;
            height: 40px;
            float: left;
            border-radius: 50%;
            border: 1px solid #CCC;
            font-size: 10px;
        }
        .post > .comment-form > .form {
            display: inline-block;
            width: calc(100% - 60px);
            margin-left: 20px;
            float: left;
            position: relative;
        }
            .post > .comment-form > .form > textarea {
                display: inline-block;
                width: 100%;
                height: 40px;
                padding: 10px;
                line-height: 20px;
                resize: none;
                overflow: hidden;
                border-radius: 20px;
                outline: none;
            }
            .post > .comment-form > .form > .icons {
                position: absolute;
                bottom: 6px;
                right: 10px;
            }
                .post > .comment-form > .form > .icons > .fa {
                    display: inline-block;
                    float: left;
                    padding: 5px;
                }
    .post + .post {
        margin-top: 20px;
    }